<div class="span12">
    <div class="row-fluid well">
        <div class="span5"><h3>About Silver Age Comics</h3></div>
        <div class="span1"><img class="img-rounded" src="/legionthumb"/></div>
        <div class="span2 offset1" style="padding: 10px;">
            <p>
              All the heroes.
            </p>
            <p>
              All the villains.
            </p>
        </div>
    </div>
    <hr/>
    <div class="row-fluid">
        <strong>
            <p>&nbsp;</p>
            Wow! It's been a long time now...but...<br/>
            <h3>We're back!</h3>
            And now... stronger than ever!<br/>
            Now, besides the classic Legion of Superheroes and Crisis on Infinite Earths<br/>
            You get...<br/>
            <ul>
                <li>The complete Adventure Comics Collection!</li>
                <li>The complete Action Comics Collection!</li>
                <li>The complete Superboy Collection!</li>
            </ul>
            And, as of May 2013, a lot more! Just <a href="#contents">browse through it!</a><br/>
        </strong>
    </div>
</div>

    