    

<div class="row">
  <div class="span12">
    <div class="row pull-right">
        <div class="span5"><h3>About Silver Age Comics</h3></div>
        <div class="span1"><img class="img-rounded" src="/legionthumb"/></div>
    </div>
    <div class="row">
        <div class="well" style="padding: 20px;">
            <p>
              All the heroes.
            </p>
            <p>
              All the villains.
            </p>
        </div>
    </div>
  </div>
</div>

    