    <div class="span12" style="font-size: xx-small;">
        <div class="well well-small">
            <strong>Silver Age Comics Library</strong>&nbsp;
            {{#if path}}
              {{ path }}
            {{else}}
              /
            {{/if}}
        </div>
    </div>

