  <div class="row-fluid" style="overflow: auto; padding-left: 1em; margin-top: 0px;">
    <ul id="dir-list" class="thumbnails" style="display: none;">
    </ul>
  </div>
  <div class="row">
    <div class="span4 offset6">
        <div class="btn-group">
          <button class="btn" data-nav="first">First</button>
          <button class="btn" data-nav="prev">Previous</button>
        <!--</div>-->
        <button style="border: 1px solid; border-radius: 3px; padding: 5px; border-color: #888888; font-size: 10px;" id="page-status">-</button>
        <!--<div class="btn-group">-->
          <button class="btn" data-nav="next">Next</button>
          <button class="btn" data-nav="last">Last</button>
        </div>
    </div>
    <div class="span2 pull-right">
        <label class="checkbox" title="Must enable popup windows in order to use this option">
            <input type="checkbox" id="opt-external-reader">
                External Reader
            </input>
        </label>
    </div>
  </div>
