    

<div class="row">
  <div class="span12">
    <div class="well-small">
      <strong>Silver Age Comics Library</strong>&nbsp;
      {{#if path}}
        {{ path }}
      {{else}}
      /
     {{/if}}
   </div>
  </div>
</div>

<div class="row">
  <ul id="dir-list">
  </ul>
</div>   

    