    <div class="span12" style="font-size: small;">
        <div class="well">
            <ul class="breadcrumb">
            {{#each ancestryObjs}}
                <li>
                    <a href="#" data-path="{{ this.path }}">
                        {{#if this.name }}
                          {{ this.name }}
                        {{else }}
                        <strong>Silver Age Comics Library</strong>
                        {{/if}}
                    </a>
                </li>
                <span class="divider">/</span>
            {{/each}}
            </ul>
        </div>
    </div>

