  <div class="row" style="max-height: 26em; min-height: 26em; overflow: auto;">
    <ul id="dir-list">
    </ul>
  </div>
  <div class="row">
    <div class="span3 offset4">
        <div class="btn-group">
          <button class="btn" data-nav="first">First</button>
          <button class="btn" data-nav="prev">Previous</button>
          <button class="btn" data-nav="next">Next</button>
          <button class="btn" data-nav="last">Last</button>
        </div>
    </div>
  </div>
