    

<div class="row-fluid">
    <div class="well">
      <h3>Silver Age of Comics Home</h3>
    </div>
    <div class="row-fluid">
        <div class="span7">
            <p>This site is devoted to preserve the rich heritage of the Silver Age of Comics.</p>
            <p>Here you'll be able to read online some of the greatest comics of the Silver Age</p>
            <p>We hope this encourages you to buy your own copies of these fine comics and by so doing adding to the preserving mission.</p>
            <p>For further info regarding comics acquisition, visit <a target="_blank" href="http://www.dccomics.com">DC Comics</a></p>
            <p><strong>Don't let the flame extinguish!</strong></p>
        </div>
        <div class="span2">
            <img id="home-img" class="img-polaroid" src="/legionthumb" width="100%" height="100%" />
        </div>
        <div class="span2 offset1">
          <div class="row">
            Your contributions to help us keep up and running will be greatly appreciated.<br/><br/>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="AAEDARGYSGDMJ">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
          <div class="row">
            <a href="http://www.defectivebydesign.org/no-drm-in-html5"><img src="//static.fsf.org/dbd/hollywebshare.jpeg" alt="Stop the Hollyweb! No DRM in HTML5." /></a>
          </div>
        </div>
    </div>
</div>
    