<a class="thumbnail" style="margin-bottom: 5px; font-size: smaller;" href="#contents" data-path="{{ path }}">
  {{#if isDirectory }}
    <img src="supi_folder" width="100%" height="100%"/>
  {{else }}
    {{#if isComic }}
      <img class="img-polaroid" src="zoompage?zoom=16&page=0&at={{ path }}" width="100%" height="100%" />
    {{/if}}
  {{/if }}
  {{ name }}
</a>