// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/

*
  box-sizing: border-box

//.navbar-form input.span2
input[type="text"], input[type="password"]
  min-height: 1.8em
  
  
#dir-list 
  list-style: none


.navbar-inner
  background-image: url(/thumb/supes_logo_blue_bg_light/15)
  background-position: center right
  background-repeat: no-repeat

.well
  background-image: url(/thumb/supes_logo_blue_bg_transparent/20)
  background-position: center right
  background-repeat: no-repeat
  padding-right: 0.5em

